/* General Reset */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fff9f4;
  color: #333;
  text-align: center;
  line-height: 0.75;
}

/* Header Styling */
header {
  background-color: #9c2e2f; /* Saucy logo red */
  color: white;
  padding: 20px;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
}

h1 {
  font-family: "Great Vibes", cursive; /* Saucy title font */
  font-style: italic;
  font-size: 4rem;
  margin-bottom: 20px;
}

h2 {
  font-family: "DM Serif Display", serif; /* subtitle font */
  font-size: 2.5rem;
  margin-top: 20px;
}

h3 {
  font-family: "DM Serif Display", serif; /* subtitle font */
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  font-style: italic;
}

/* Form Section */
#signup-form {
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input,
form select,
form button {
  width: 100%;
  padding: 10px; /* Uniform padding for all fields */
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="text"],
form input[type="email"],
form select {
  padding-left: 0px; /* Left padding */
  padding-right: 0px; /* Right padding */
}

form button {
  background-color: #9c2e2f;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

form button:hover {
  background-color: #d32f2f;
}

/* Ticker Section */
#ticker {
  margin: 20px auto;
  padding: 10px;
  font-size: 2.5rem; /* Increase size for better visibility */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#signup-count {
  display: flex;
  gap: 5px;
}

.counter-digit {
  display: inline-block;
  width: 1.2em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  transition: transform 0.5s ease-in-out; /* Smooth flip transition */
  transform-origin: top; /* This makes the flip look natural */
}

/* Flipping Animation */
.flip {
  transform: rotateX(180deg);
}

/* Footer */
footer {
  margin-top: 20px;
  padding: 10px;
  font-size: 0.9rem;
  background-color: #333;
  color: white;
}
.footer-social {
  display: flex;
  justify-content: center;
  gap: 15px; /* Space between icons */
  margin-bottom: 10px;
}

.social-logo {
  width: 40px; /* Set uniform size */
  height: auto;
  transition: transform 0.3s ease;
}

.social-logo:hover {
  transform: scale(1.1); /* Slight zoom on hover */
}
